@import '../../../variables';

.CheckboxBody {
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border: 2px solid rgba(55, 56, 60, 0.16);
  border-radius: 4px;
  background-color: #2E4372;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  &--wrong {
    background-color: #AA3939 !important;
    color: azure;
  }

  &--success {
    background-color: rgba(38, 177, 10, 0.84) !important;
  }

  &__CheckboxLabel {
    min-width: 50px;
    font-family: $font;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
  }
}






