@import '../../variables';


.word-translator {
    width: $translator-width;
    min-height:200px;
    margin: $margin-center;
}

.word-translations-container {
    float: left;
    width:100%;
}

.word-translations-container form {
    margin:0 auto;
    width:100%;
}




