@import '../../../variables';

.AudioPlayerComponent {
  width:300px;
  height:300px;
  margin: $margin-center;
  text-align: center;

  &__recorder {
    width:100%;
    height:25px;
  }

  &__image {
    padding: 15px;
    overflow: hidden;
    width: 200px;
    min-height:150px;
    margin: 0 auto;

    &__text {
      text-align: center;
      font-weight: bolder;
      font-family: $font;
      font-size: 23px;
      color: #37383c;
    }
  }

  &__image img {
    width: 100%;
    height:auto;
  }
}

