@import '../../variables';

.WritingTranslatorContainer {
  width: 500px;
  min-height: 150px;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 25px;

  &__buttonBox {
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
  }
}