@import "../../../colors";

.VocabularyList {
  display: flex;
  justify-content: center;

  &__deleteBox {
    width: 30px;
    float: right;
    cursor: pointer;
  }

  .ReactVirtualized__Table__row {
    border-bottom: 1px solid #e6e9ee;;
  }

  &__word {
    font-weight: 600;
    color: $color-secondary-1-4;
  }

  &__audioBox {
    width: 24px;
    cursor: pointer;
  }

  &__audioSpinner {
    width: 50px;
  }

  &__progressBox {
    text-align: center;
  }
}
