
.SuccessMessageComponent {
  width: 89%;
  min-height:20px;
  padding: 25px;
  text-align: center;
  margin-top: 25px;
  border: 2px solid #d7d7ee;
  border-radius: 15px;
  font-weight: 600;
  color: #152A55;
}