@import "../../colors";

.MenuButton {
  background-color: transparent;
  border: none;
  border-right: 2px solid $color-secondary-2-0;
  color: $color-secondary-1-4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 100%;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}