@import '../../../variables';

.WordContainer {
  color: #061639;
  float: left;
  min-height:40px;
  width:100%;
  border-bottom:2px solid #d7d7ee;
  margin-bottom: 5px;

  &__title{
    font-family: $font;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 15px;
  }

  &__WordBody {
    margin-left: 15px;
    margin-top: 15px;
  }
}



