@import "../../colors";

.Header {
  height: 60px;
  width: 100%;
  background-color: $color-secondary-2-1;
  position: fixed;

  &__rightSection {
    height: 100%;
    float: right;
    .MenuButton {
      border: 0;
    }
  }
}