@import './variables';

.App {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
  &--spinner {
    img {
    }
  }

  &__body {
    margin-top: $header_height;
  }

  &__overlayContainer {
    background: rgba(143, 149, 154, 0.7);

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
  }
}

.App .navbar-brand {
  font-weight: bold;
}

.ReactVirtualized__Grid:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.kep-login-facebook {
  height: 100%;
}
