$color-primary-0: #78BC3F;	// Main Primary color */
$color-primary-1: #BDEC97;
$color-primary-2: #9BDA67;
$color-primary-3: #5CA122;
$color-primary-4: #40800B;

$color-secondary-1-0: #D3CC47;	// Main Secondary color (1) */
$color-secondary-1-1: #FFFAA3;
$color-secondary-1-2: #F5EE73;
$color-secondary-1-3: #B5AE26;
$color-secondary-1-4: #8F890D;

$color-secondary-2-0: #306D84;	// Main Secondary color (2) */
$color-secondary-2-1: #7CABBD;
$color-secondary-2-2: #4C849A;
$color-secondary-2-3: #1C5A71;
$color-secondary-2-4: #0B445A;