@import '../../../variables';

.AnswerBox {
  width:100%;
  min-height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &__prefix {
    min-height: 50px;
    float: left;
    padding: 15px;
    font-weight: 500;
  }

  &__input {
    width:350px;
    float: right;
    border: 2px solid #d7d7ee;
    margin-right: 20px;
    height: 25px;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 5px;

    &--wrong {
      border-color: #801515;
      color: red;
    }

    &--right {
      border-color: rgba(24, 222, 22, 0.92);
      color: #18de16;
    }
  }

  &__input:active {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #d7d7ee;
  }
}